<div class="col-sm-12">
  <h1>Classrooms</h1>

  <table class="table table-stripped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @classrooms.each do |classroom| %>
        <tr>
          <td><%= classroom.name %></td>
          <td><%= classroom.description %></td>
          <td><%= link_to 'Show', classroom %>
          <% if (!current_user.is_admin? && current_user.eligable_enroll(classroom)) %>
          | <%= link_to 'Enroll Now', enroll_classroom_path(classroom)  %>
          <% end %>
          | <%= link_to 'Enrolled Students', enrolled_classroom_path(classroom) %>          
          <% if current_user.is_admin? %>
            | <%= link_to 'Edit', edit_classroom_path(classroom) %>
            | <%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Classroom', new_classroom_path if current_user.is_admin? %>

</div>